
body{
	position:relative;
	background-color: black;
	background-size: 10000px 1500px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.container{
	background-color:#F7F7F7;
}
#carrusel{
	 height:60%;
}
#conten-main{
	padding-top:60px;
}
#text{
	color:black;
}
.texblack{
	color:black;
}
#carruselc{
	border:5px solid black;
	padding:2%;
	border-radius:10px;
	box-shadow:7px 7px grey;
	height:400px;
}
#carrusel,#fr,#fa{
	height:350px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}